---
http_interactions:
- request:
    method: post
    uri: https://api.ooyala.com/v2/players?api_key=JkN2w61tDmKgPl4y395Rp1vAdlcq.IqBgb&expires=1388595900&signature=+YgD9z9zT+hwlDg7u7zdvkrXvoAhqIz2EPrTGuJjcK0
    body:
      encoding: US-ASCII
      string: ! '{"name":"new player"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Status:
      - 200 OK
      - 200 OK
      X-Ratelimit-Credits:
      - '295'
      X-Ratelimit-Reset:
      - '42'
      Ooyala-Server-Id:
      - i-c680e0bc,i-74e0a20c
      Ooyala-Request-Id:
      - 638cf6f5c3b98dcd735630881bb31d02
    body:
      encoding: US-ASCII
      string: ! '{"id":"d032ff9e83cf49168371a718e355f604","name":"new player","is_default":false,"provider_homepage_url":null,"provider_name":null,"default_closed_caption_language":"","watermark":{"alpha":1.0,"click_url":null,"image_url":null},"scrubber":{"always_show":false,"image_url":null},"playback":{"buffer_on_pause":false},"ooyala_branding":{"accent_color":"#ffbb00","digg_sharing":false,"stumble_upon_sharing":false,"facebook_sharing":false,"twitter_sharing":false,"email_sharing":true,"url_sharing":false,"show_ad_countdown":true,"show_info_button":true,"show_embed_button":true,"show_channel_button":true,"show_share_button":true,"show_bitrate_button":false,"show_volume_button":true,"show_info_screen_title":true,"show_info_screen_description":false,"show_info_screen_homepage_link":true,"show_info_screen_presented_by":true,"show_end_screen_replay_button":true,"show_end_screen_share_button":true,"show_end_screen_info_button":false,"show_end_screen_more_videos":true,"show_end_screen_embed_button":true,"enable_error_screen":true,"chromeless":false},"related_videos":{"source":"shared_labels","labels":[],"sort":"upload_time","order":"desc","click_behavior":"new_page"},"up_next_preview":{"timing":"disabled","seconds_before_end":null},"audio":{"show_download":true}}'
  recorded_at: Wed, 01 Jan 2014 17:00:00 GMT
recorded_with: VCR 2.4.0
