---
http_interactions:
- request:
    method: post
    uri: https://api.ooyala.com/v2/assets?api_key=JkN2w61tDmKgPl4y395Rp1vAdlcq.IqBgb&expires=1388595900&signature=mT+RR/2Gs1Azx+mKlHFaFzAnFxMOBHl3sKS73I9BJVU
    body:
      encoding: US-ASCII
      string: ! '{"asset_type":"channel","name":"new channel"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Status:
      - 200 OK
      - 200 OK
      X-Ratelimit-Credits:
      - '296'
      X-Ratelimit-Reset:
      - '53'
      Ooyala-Server-Id:
      - i-2fb35657,i-f0e3a188
      Ooyala-Request-Id:
      - 3c4be8b0741e1d5beb026efc1ade2a69
    body:
      encoding: US-ASCII
      string: ! '{"asset_type":"channel","created_at":"2013-04-01T21:30:07Z","description":null,"duration":0,"embed_code":"x1a3VtYTr0qKnqkCwwHpso8WewPH3RzW","external_id":null,"name":"new
        channel","preview_image_url":null,"status":"live","time_restrictions":null,"updated_at":"2013-04-01T21:30:07Z","hosted_at":null,"original_file_name":null,"publishing_rule_id":"37aa7371be4f4937b40bb12966f28235","ad_set_id":null}'
  recorded_at: Wed, 01 Jan 2014 17:00:00 GMT
recorded_with: VCR 2.4.0
