---
http_interactions:
- request:
    method: post
    uri: https://api.ooyala.com/v2/labels?api_key=JkN2w61tDmKgPl4y395Rp1vAdlcq.IqBgb&expires=1388595900&signature=zMdUFUVOtCiosp4HeqLGv+oDrG+sWRWZrOF3t8VYWLk
    body:
      encoding: US-ASCII
      string: ! '{"name":"new label"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Status:
      - 200 OK
      - 200 OK
      X-Ratelimit-Credits:
      - '298'
      X-Ratelimit-Reset:
      - '52'
      Ooyala-Server-Id:
      - i-8480e0fe,i-38e3a140
      Ooyala-Request-Id:
      - 116ef1d5e92dc9092d373fcd9c0f0563
    body:
      encoding: US-ASCII
      string: ! '{"name":"new label","full_name":"/new label","id":"635bad2cbbce49778ccda721dd143a56","parent_id":null}'
  recorded_at: Wed, 01 Jan 2014 17:00:00 GMT
recorded_with: VCR 2.4.0
