---
http_interactions:
- request:
    method: post
    uri: https://api.ooyala.com/v2/assets?api_key=JkN2w61tDmKgPl4y395Rp1vAdlcq.IqBgb&expires=1357059900&signature=ZnyJ/xNjOTR/MVWfy2Q4acaV2GMjXzb7dO1q2imgKI8
    body:
      encoding: US-ASCII
      string: ! '{"asset_type":"channel","name":"new channel"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      - 200 OK
      Ooyala-Server-Id:
      - i-1880e062,i-f0e3a188
      X-Ratelimit-Credits:
      - '299'
      X-Ratelimit-Reset:
      - '60'
      Ooyala-Request-Id:
      - 3488ebb9e4fbc42741c783b47d56d1ef
      X-Varnish-Cache:
      - MISS
    body:
      encoding: US-ASCII
      string: ! '{"status":"live","description":null,"external_id":null,"ad_set_id":null,"time_restrictions":null,"asset_type":"channel","hosted_at":null,"embed_code":"dweGIyNzqnPmGoPfnvswpOpfmZMQPJcg","original_file_name":null,"duration":0,"name":"new
        channel","created_at":"2012-11-19T11:18:12Z","preview_image_url":null,"publishing_rule_id":"37aa7371be4f4937b40bb12966f28235","updated_at":"2012-11-19T11:18:13Z"}'
  recorded_at: Tue, 01 Jan 2013 17:00:00 GMT
recorded_with: VCR 2.3.0
