---
http_interactions:
- request:
    method: get
    uri: https://api.ooyala.com/v2/labels?api_key=JkN2w61tDmKgPl4y395Rp1vAdlcq.IqBgb&expires=1357059900&signature=+HB/6SmVv4WA25TRQH9FoIVnsBY/2YCMKg9zpspe04I
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      - 200 OK
      Ooyala-Server-Id:
      - i-2fb35657,i-38e3a140
      X-Ratelimit-Credits:
      - '294'
      X-Ratelimit-Reset:
      - '60'
      Ooyala-Request-Id:
      - 617375292eae9943cf33d59416607b41
      X-Varnish-Ip:
      - 10.28.97.158
      X-Varnish-Cache:
      - HIT
    body:
      encoding: US-ASCII
      string: ! '{"items":[{"full_name":"/Movie Trailer","parent_id":null,"name":"Movie
        Trailer","id":"b5e9bf9a0e5a4b31991cfdf9218c4342"},{"full_name":"/new label","parent_id":null,"name":"new
        label","id":"48b48a8a167b4d33a37926647f4ba366"},{"full_name":"/new label","parent_id":null,"name":"new
        label","id":"54e385649fb1444ea0d56f49d5aad911"},{"full_name":"/new label","parent_id":null,"name":"new
        label","id":"9f3ebd34f16244d9a50580a3135f04e4"},{"full_name":"/TV Commercial","parent_id":null,"name":"TV
        Commercial","id":"3329684004c444d3b7b03707dcdaf7d0"}]}'
  recorded_at: Tue, 01 Jan 2013 17:00:00 GMT
- request:
    method: delete
    uri: https://api.ooyala.com/v2/labels/48b48a8a167b4d33a37926647f4ba366?api_key=JkN2w61tDmKgPl4y395Rp1vAdlcq.IqBgb&expires=1357059900&signature=S2E3JPmnZy8XqPUM98Lfoo+wk3AlXB1NSiwHlA4J33E
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      - 200 OK
      Ooyala-Server-Id:
      - i-1e80e064,i-90e3a1e8
      X-Ratelimit-Credits:
      - '299'
      X-Ratelimit-Reset:
      - '60'
      Ooyala-Request-Id:
      - 923ef151f98c8edda3afeb5bbdcec6d0
      X-Varnish-Cache:
      - MISS
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Tue, 01 Jan 2013 17:00:00 GMT
- request:
    method: delete
    uri: https://api.ooyala.com/v2/labels/54e385649fb1444ea0d56f49d5aad911?api_key=JkN2w61tDmKgPl4y395Rp1vAdlcq.IqBgb&expires=1357059900&signature=V4ZnrAE1oWwqNtBLAhQdLJ3UjPRVSkdhfo4z8tQRpws
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      - 200 OK
      Ooyala-Server-Id:
      - i-930e1cf5,i-38e3a140
      X-Ratelimit-Credits:
      - '298'
      X-Ratelimit-Reset:
      - '60'
      Ooyala-Request-Id:
      - 8fdee475f0c96d3c7bea731c3cf0e3cb
      X-Varnish-Cache:
      - MISS
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Tue, 01 Jan 2013 17:00:00 GMT
- request:
    method: delete
    uri: https://api.ooyala.com/v2/labels/9f3ebd34f16244d9a50580a3135f04e4?api_key=JkN2w61tDmKgPl4y395Rp1vAdlcq.IqBgb&expires=1357059900&signature=+Ixugs/CcJQUg2TojACXdJThnswPIXDNYajwjEV1cJY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      - 200 OK
      Ooyala-Server-Id:
      - i-150e1c73,i-f0e3a188
      X-Ratelimit-Credits:
      - '297'
      X-Ratelimit-Reset:
      - '60'
      Ooyala-Request-Id:
      - 9b6f58d036e92a2dc6a0ce13f9356f88
      X-Varnish-Cache:
      - MISS
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Tue, 01 Jan 2013 17:00:00 GMT
recorded_with: VCR 2.3.0
