---
http_interactions:
- request:
    method: get
    uri: https://api.ooyala.com/v2/assets?api_key=JkN2w61tDmKgPl4y395Rp1vAdlcq.IqBgb&expires=1388595900&signature=UMDmU1hzzYhYJFhlj2wTWhhLrCGUv2eAnwNRCqhX3t8&where=description='Mongoid'%20AND%20duration%3E600
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Status:
      - 200 OK
      - 200 OK
      X-Ratelimit-Credits:
      - '298'
      X-Ratelimit-Reset:
      - '56'
      Ooyala-Server-Id:
      - i-2fb35657,i-90e3a1e8
      Ooyala-Request-Id:
      - 986a91873ccbc63b5c3a4899d6a05a59
      X-Varnish-Ip:
      - 10.28.97.158
      X-Varnish-Cache:
      - MISS
    body:
      encoding: US-ASCII
      string: ! '{"items":[{"asset_type":"video","created_at":"2012-03-10T19:58:01Z","description":"Mongoid
        is a polished, high-level Ruby gem for accessing MongoDB. This tutorial covers
        installation, adding fields, validations, associations, and keys. Under the
        sea.","duration":668479,"embed_code":"NjdmdxMzqDvaUEEczxwMbG4aC4tpJaKB","external_id":null,"name":"RailsCast
        - Mongoid","preview_image_url":"http://ak.c.ooyala.com/NjdmdxMzqDvaUEEczxwMbG4aC4tpJaKB/X4vlsqtHgLdH4wWX5hMDoxOjBwO0lhAD","status":"live","time_restrictions":null,"updated_at":"2012-03-10T20:26:18Z","hosted_at":null,"original_file_name":"238-mongoid.mp4","publishing_rule_id":"37aa7371be4f4937b40bb12966f28235","ad_set_id":null}]}'
  recorded_at: Wed, 01 Jan 2014 17:00:00 GMT
recorded_with: VCR 2.4.0
