---
http_interactions:
- request:
    method: get
    uri: https://api.ooyala.com/v2/assets?api_key=JkN2w61tDmKgPl4y395Rp1vAdlcq.IqBgb&expires=1388595900&signature=0WFi9/aodEgMAc33QDAj+AlgFSQ9cqe7ifKUD/yr1+A&where=description='Thor'%20AND%20duration%3E600
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Status:
      - 200 OK
      - 200 OK
      X-Ratelimit-Credits:
      - '297'
      X-Ratelimit-Reset:
      - '56'
      Ooyala-Server-Id:
      - i-1d0f1d7b,i-74e0a20c
      Ooyala-Request-Id:
      - de630a0538e4cf279086824d846a744d
      X-Varnish-Ip:
      - 10.251.243.175
      X-Varnish-Cache:
      - MISS
    body:
      encoding: US-ASCII
      string: ! '{"items":[{"asset_type":"video","created_at":"2012-03-10T19:41:31Z","description":"The
        warrior Thor is cast out of the fantastic realm of Asgard by his father Odin
        for his arrogance and sent to Earth to live among humans. Falling in love
        with scientist Jane Foster teaches Thor much-needed lessons, and his new-found
        strength comes into play as a villain from his homeland sends dark forces
        toward Earth.","duration":152000,"embed_code":"xqaWdxMzrd-3vtTxXCDPFFouLEw6z_uE","external_id":null,"name":"Hear
        Me Roar!","preview_image_url":"http://ak.c.ooyala.com/xqaWdxMzrd-3vtTxXCDPFFouLEw6z_uE/NWfthdhQfIbl_yb35hMDoxOmdjOz0ndz","status":"live","time_restrictions":null,"updated_at":"2013-04-01T21:44:21Z","hosted_at":null,"original_file_name":"Thor
        - Official Trailer HD 1080p.flv","publishing_rule_id":"37aa7371be4f4937b40bb12966f28235","ad_set_id":null},{"asset_type":"video","created_at":"2012-03-10T19:26:27Z","description":"Nick
        Fury, the director of S.H.I.E.L.D., assembles a group of superheroes that
        includes Iron Man, Thor, Captain America, and the Hulk to fight a new enemy
        that is threatening the safety of the world.","duration":143477,"embed_code":"o1NmdxMzrrWwbOVk_wIqhw-AmhlOMO49","external_id":null,"name":"Avengers","preview_image_url":"http://ak.c.ooyala.com/o1NmdxMzrrWwbOVk_wIqhw-AmhlOMO49/j14TFkN_kLvndon35hMDoxOmFkO7UOTK","status":"live","time_restrictions":null,"updated_at":"2012-03-10T20:36:29Z","hosted_at":null,"original_file_name":"Marvel
        Avengers Assemble (2012) Watch the Official trailer _.flv","publishing_rule_id":"37aa7371be4f4937b40bb12966f28235","ad_set_id":null}]}'
  recorded_at: Wed, 01 Jan 2014 17:00:00 GMT
recorded_with: VCR 2.4.0
