---
http_interactions:
- request:
    method: get
    uri: https://api.ooyala.com/v2/labels?api_key=JkN2w61tDmKgPl4y395Rp1vAdlcq.IqBgb&expires=1388595900&signature=ylCha9pRjzxdjaOob3cb6J0GzFyYqOSodsmBQ7hdJ6w
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Status:
      - 200 OK
      - 200 OK
      X-Ratelimit-Credits:
      - '297'
      X-Ratelimit-Reset:
      - '46'
      Ooyala-Server-Id:
      - i-7fc8b20e,i-38e3a140
      Ooyala-Request-Id:
      - 0230a94166742639335f4f038fdce092
      X-Varnish-Ip:
      - 10.251.243.175
      X-Varnish-Cache:
      - MISS
    body:
      encoding: US-ASCII
      string: ! '{"items":[{"name":"Movie Trailer","full_name":"/Movie Trailer","id":"b5e9bf9a0e5a4b31991cfdf9218c4342","parent_id":null},{"name":"new
        label","full_name":"/new label","id":"635bad2cbbce49778ccda721dd143a56","parent_id":null},{"name":"TV
        Commercial","full_name":"/TV Commercial","id":"3329684004c444d3b7b03707dcdaf7d0","parent_id":null}]}'
  recorded_at: Wed, 01 Jan 2014 17:00:00 GMT
recorded_with: VCR 2.4.0
