---
http_interactions:
- request:
    method: get
    uri: https://api.ooyala.com/v2/assets?api_key=JkN2w61tDmKgPl4y395Rp1vAdlcq.IqBgb&expires=1357059900&signature=ZkCQ0Fr8xlmzmsWDrtGL09X2kRWTLTgJVnBuNN9DBAk&where=description='Iron%20Man,%20Thor,%20Captain%20America,%20and%20the%20Hulk'
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      - 200 OK
      Ooyala-Server-Id:
      - i-c080e0ba,i-90e3a1e8
      X-Ratelimit-Credits:
      - '298'
      X-Ratelimit-Reset:
      - '60'
      Ooyala-Request-Id:
      - a9f03a22b764563f8fa5a732d8506e64
      X-Varnish-Ip:
      - 10.28.97.158
      X-Varnish-Cache:
      - MISS
    body:
      encoding: US-ASCII
      string: ! '{"items":[{"status":"live","description":"Nick Fury, the director
        of S.H.I.E.L.D., assembles a group of superheroes that includes Iron Man,
        Thor, Captain America, and the Hulk to fight a new enemy that is threatening
        the safety of the world.","external_id":null,"ad_set_id":null,"time_restrictions":null,"asset_type":"video","hosted_at":null,"embed_code":"o1NmdxMzrrWwbOVk_wIqhw-AmhlOMO49","original_file_name":"Marvel
        Avengers Assemble (2012) Watch the Official trailer _.flv","duration":143477,"name":"Avengers","created_at":"2012-03-10T19:26:27Z","preview_image_url":"http://ak.c.ooyala.com/o1NmdxMzrrWwbOVk_wIqhw-AmhlOMO49/j14TFkN_kLvndon35hMDoxOmFkO7UOTK","publishing_rule_id":"37aa7371be4f4937b40bb12966f28235","updated_at":"2012-03-10T20:36:29Z"}]}'
  recorded_at: Tue, 01 Jan 2013 17:00:00 GMT
recorded_with: VCR 2.3.0
