---
http_interactions:
- request:
    method: get
    uri: https://api.ooyala.com/v2/assets?api_key=JkN2w61tDmKgPl4y395Rp1vAdlcq.IqBgb&expires=1357059900&signature=+CAmR9wdHd79r/jM1704LlSWNf7rmnnUO56kgZ+Irqo&where=embed_code%20IN%20('U3NmdxMzrJe_3B_8VLs1ZlrlIJfSID-9','g1YzBnMjrEWdqX0gNdtKwTwQREhEkf9e')
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      - 200 OK
      Ooyala-Server-Id:
      - i-59f70937,i-38e3a140
      X-Ratelimit-Credits:
      - '297'
      X-Ratelimit-Reset:
      - '60'
      Ooyala-Request-Id:
      - 236965a893c456eb5f58a9c28cdebd3e
      X-Varnish-Ip:
      - 10.251.243.175
      X-Varnish-Cache:
      - MISS
    body:
      encoding: US-ASCII
      string: ! '{"items":[{"status":"live","description":"As World War II comes to
        an end in 1945, Hans Kammler and other German scientists make a breakthrough
        in anti-gravity research. From a secret base in the Antarctic, Nazi spaceships
        are sent to the \"dark side\" of the Moon to establish the military base \"Schwarze
        Sonne\" (i.e. Black Sun). Their plan is to build a powerful fleet and return
        to conquer Earth. The film is set in the year 2018 when their descendants
        finally return.","external_id":null,"ad_set_id":null,"time_restrictions":null,"asset_type":"video","hosted_at":null,"embed_code":"U3NmdxMzrJe_3B_8VLs1ZlrlIJfSID-9","original_file_name":"Iron
        Sky Official Trailer #2 - Nazi_s on the Moon Movie (201.flv","duration":113875,"name":"Iron
        Sky","created_at":"2012-03-10T19:26:28Z","preview_image_url":"http://ak.c.ooyala.com/U3NmdxMzrJe_3B_8VLs1ZlrlIJfSID-9/2c0YxGwJFvMxVXlX5hMDoxOmFkO7UOTK","publishing_rule_id":"37aa7371be4f4937b40bb12966f28235","updated_at":"2012-03-10T20:37:35Z"}]}'
  recorded_at: Tue, 01 Jan 2013 17:00:00 GMT
recorded_with: VCR 2.3.0
