---
http_interactions:
- request:
    method: get
    uri: https://api.ooyala.com/v2/assets?api_key=JkN2w61tDmKgPl4y395Rp1vAdlcq.IqBgb&expires=1357059900&signature=LtJN4z5aKugYKZNSI7zQu5zoR2UhFYpoG7uzJ+8FRkw&where=description='Thor'%20AND%20labels%20INCLUDES%20'Movie%20Trailer'
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      - 200 OK
      Ooyala-Server-Id:
      - i-8680e0fc,i-f0e3a188
      X-Ratelimit-Credits:
      - '295'
      X-Ratelimit-Reset:
      - '60'
      Ooyala-Request-Id:
      - 03236e183cc50b619d84c98983739e7f
      X-Varnish-Ip:
      - 10.28.97.158
      X-Varnish-Cache:
      - MISS
    body:
      encoding: US-ASCII
      string: ! '{"items":[{"status":"live","description":"The warrior Thor is cast
        out of the fantastic realm of Asgard by his father Odin for his arrogance
        and sent to Earth to live among humans. Falling in love with scientist Jane
        Foster teaches Thor much-needed lessons, and his new-found strength comes
        into play as a villain from his homeland sends dark forces toward Earth.","external_id":null,"ad_set_id":null,"time_restrictions":null,"asset_type":"video","hosted_at":null,"embed_code":"xqaWdxMzrd-3vtTxXCDPFFouLEw6z_uE","original_file_name":"Thor
        - Official Trailer HD 1080p.flv","duration":152000,"name":"Thor","created_at":"2012-03-10T19:41:31Z","preview_image_url":"http://ak.c.ooyala.com/xqaWdxMzrd-3vtTxXCDPFFouLEw6z_uE/NWfthdhQfIbl_yb35hMDoxOmdjOz0ndz","publishing_rule_id":"37aa7371be4f4937b40bb12966f28235","updated_at":"2012-03-10T20:39:43Z"},{"status":"live","description":"Nick
        Fury, the director of S.H.I.E.L.D., assembles a group of superheroes that
        includes Iron Man, Thor, Captain America, and the Hulk to fight a new enemy
        that is threatening the safety of the world.","external_id":null,"ad_set_id":null,"time_restrictions":null,"asset_type":"video","hosted_at":null,"embed_code":"o1NmdxMzrrWwbOVk_wIqhw-AmhlOMO49","original_file_name":"Marvel
        Avengers Assemble (2012) Watch the Official trailer _.flv","duration":143477,"name":"Avengers","created_at":"2012-03-10T19:26:27Z","preview_image_url":"http://ak.c.ooyala.com/o1NmdxMzrrWwbOVk_wIqhw-AmhlOMO49/j14TFkN_kLvndon35hMDoxOmFkO7UOTK","publishing_rule_id":"37aa7371be4f4937b40bb12966f28235","updated_at":"2012-03-10T20:36:29Z"}]}'
  recorded_at: Tue, 01 Jan 2013 17:00:00 GMT
recorded_with: VCR 2.3.0
