---
http_interactions:
- request:
    method: get
    uri: https://api.ooyala.com/v2/assets?api_key=JkN2w61tDmKgPl4y395Rp1vAdlcq.IqBgb&expires=1388595900&signature=t5eXc2jzBU+g9BvI5HsmB3U7l23zljkd20kX+emq/aM&where=duration%3C600
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Status:
      - 200 OK
      - 200 OK
      X-Ratelimit-Credits:
      - '295'
      X-Ratelimit-Reset:
      - '53'
      Ooyala-Server-Id:
      - i-150e1c73,i-90e3a1e8
      Ooyala-Request-Id:
      - fdbe14fb14664a00018e813d7891a4f4
      X-Varnish-Ip:
      - 10.251.243.175
      X-Varnish-Cache:
      - MISS
    body:
      encoding: US-ASCII
      string: ! '{"items":[{"asset_type":"channel","created_at":"2013-04-01T21:30:07Z","description":null,"duration":0,"embed_code":"x1a3VtYTr0qKnqkCwwHpso8WewPH3RzW","external_id":null,"name":"new
        channel","preview_image_url":null,"status":"live","time_restrictions":null,"updated_at":"2013-04-01T21:30:07Z","hosted_at":null,"original_file_name":null,"publishing_rule_id":"37aa7371be4f4937b40bb12966f28235","ad_set_id":null}]}'
  recorded_at: Wed, 01 Jan 2014 17:00:00 GMT
recorded_with: VCR 2.4.0
