---
http_interactions:
- request:
    method: get
    uri: https://api.ooyala.com/v2/assets?api_key=JkN2w61tDmKgPl4y395Rp1vAdlcq.IqBgb&expires=1388595900&signature=q7DfZboNz8OHEyMm9c81i7VwxqLMQAgHhG1FqcBJmc0&where=description='Iron%20Man,%20Thor,%20Captain%20America,%20and%20the%20Hulk'
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Status:
      - 200 OK
      - 200 OK
      X-Ratelimit-Credits:
      - '298'
      X-Ratelimit-Reset:
      - '57'
      Ooyala-Server-Id:
      - i-897134f8,i-90e3a1e8
      Ooyala-Request-Id:
      - ce660859dcdffc8160eaa615cb89732c
      X-Varnish-Ip:
      - 10.251.243.175
      X-Varnish-Cache:
      - MISS
    body:
      encoding: US-ASCII
      string: ! '{"items":[{"asset_type":"video","created_at":"2012-03-10T19:26:27Z","description":"Nick
        Fury, the director of S.H.I.E.L.D., assembles a group of superheroes that
        includes Iron Man, Thor, Captain America, and the Hulk to fight a new enemy
        that is threatening the safety of the world.","duration":143477,"embed_code":"o1NmdxMzrrWwbOVk_wIqhw-AmhlOMO49","external_id":null,"name":"Avengers","preview_image_url":"http://ak.c.ooyala.com/o1NmdxMzrrWwbOVk_wIqhw-AmhlOMO49/j14TFkN_kLvndon35hMDoxOmFkO7UOTK","status":"live","time_restrictions":null,"updated_at":"2012-03-10T20:36:29Z","hosted_at":null,"original_file_name":"Marvel
        Avengers Assemble (2012) Watch the Official trailer _.flv","publishing_rule_id":"37aa7371be4f4937b40bb12966f28235","ad_set_id":null}]}'
  recorded_at: Wed, 01 Jan 2014 17:00:00 GMT
recorded_with: VCR 2.4.0
