---
http_interactions:
- request:
    method: patch
    uri: https://api.ooyala.com/v2/assets/xqaWdxMzrd-3vtTxXCDPFFouLEw6z_uE?api_key=JkN2w61tDmKgPl4y395Rp1vAdlcq.IqBgb&expires=1388595900&signature=UVGAUvO3frC1n4xEY32L/qPk56n8ZeNESnNGFblzQPQ
    body:
      encoding: US-ASCII
      string: ! '{"asset_type":"video","description":"The warrior Thor is cast out
        of the fantastic realm of Asgard by his father Odin for his arrogance and
        sent to Earth to live among humans. Falling in love with scientist Jane Foster
        teaches Thor much-needed lessons, and his new-found strength comes into play
        as a villain from his homeland sends dark forces toward Earth.","external_id":null,"name":"update
        name","preview_image_url":"http://ak.c.ooyala.com/xqaWdxMzrd-3vtTxXCDPFFouLEw6z_uE/NWfthdhQfIbl_yb35hMDoxOmdjOz0ndz","status":"live","time_restrictions":null,"hosted_at":null,"original_file_name":"Thor
        - Official Trailer HD 1080p.flv","publishing_rule_id":"37aa7371be4f4937b40bb12966f28235","ad_set_id":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Status:
      - 200 OK
      - 200 OK
      X-Ratelimit-Credits:
      - '298'
      X-Ratelimit-Reset:
      - '57'
      Ooyala-Server-Id:
      - i-1d0f1d7b,i-f0e3a188
      Ooyala-Request-Id:
      - 2712afb3d6005ee9a0cbe809099951a1
    body:
      encoding: US-ASCII
      string: ! '{"asset_type":"video","created_at":"2012-03-10T19:41:31Z","description":"The
        warrior Thor is cast out of the fantastic realm of Asgard by his father Odin
        for his arrogance and sent to Earth to live among humans. Falling in love
        with scientist Jane Foster teaches Thor much-needed lessons, and his new-found
        strength comes into play as a villain from his homeland sends dark forces
        toward Earth.","duration":152000,"embed_code":"xqaWdxMzrd-3vtTxXCDPFFouLEw6z_uE","external_id":null,"name":"update
        name","preview_image_url":"http://ak.c.ooyala.com/xqaWdxMzrd-3vtTxXCDPFFouLEw6z_uE/NWfthdhQfIbl_yb35hMDoxOmdjOz0ndz","status":"live","time_restrictions":null,"updated_at":"2013-03-30T21:23:58Z","hosted_at":null,"original_file_name":"Thor
        - Official Trailer HD 1080p.flv","publishing_rule_id":"37aa7371be4f4937b40bb12966f28235","ad_set_id":null}'
  recorded_at: Wed, 01 Jan 2014 17:00:00 GMT
recorded_with: VCR 2.4.0
